homepage = "https://duckduckgo.com"
search_engine = "DuckDuckGo"
theme = "dark"

[toolbar]
enabled = false

# [[toolbar.tabs]]
# label = "YouTube"
# url = "https://www.youtube.com"
#
# [[toolbar.tabs]]
# label = "AliExpress"
# url = "https://www.aliexpress.com"
